@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
    font-family: 'DM Serif Text', serif;
}

#logo {
    color: #2079B2; 
    text-shadow: 1px 1px 2px black;
    /* width: 40%;
    height: auto;
    vertical-align: middle; */
}

nav ul li a {
    color: #2079B2;
}

#menu-icon {
    color: #000;
}

#header-name {
    text-shadow: 1px 1px 2px black;
}